@charset "UTF-8";

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {


    padding-bottom: 2px;
    background-color: #45a1ff;
    color: #fff;
    display: block;
}